@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belgrano&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #F38160;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  background-color: #F38160;
  color: white;
  padding: 12px 25px;
  border-radius: 16px;
  text-decoration: none;
}

.hero {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.hero_content {
  width: 55%;
  padding-top: 50px;
}
.hero_content h1 {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #403C39;
  line-height: 70px;
  margin-bottom: 30px;
}
.hero_content h1 span {
  color: #F38160;
  font-weight: 700;
}
.hero_description {
  color: #949494;
  font-weight: 300;
  font-size: 18px;
  max-width: 70%;
  margin-bottom: 30px;
}
.hero_img {
  width: 45%;
}
.hero_img img {
  max-width: 100%;
}
.hero_search {
  display: flex;
  align-items: stretch;
  width: 65%;
  margin-bottom: 30px;
}
.hero_search input {
  flex: 1;
  background-color: rgba(208, 208, 210, 0.2509803922);
  padding: 10px 20px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 20px;
  display: inline-block;
}
.hero_search input::placeholder {
  color: #949494;
  font-weight: 300;
}
.hero_search button {
  background-color: #F38160;
  display: inline-block;
  width: 40px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hero_search button img {
  width: 20px;
}
.hero_info {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  gap: 20px;
}
.hero_info li {
  width: 45%;
  color: #949494;
  font-weight: 300;
  margin: 0;
  position: relative;
  padding-left: 30px;
}
.hero_info li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/Check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  position: absolute;
  left: 0;
  top: 3px;
}

.food_type {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.food_type_item-img {
  width: 90px;
}
.food_type_item-title {
  color: #403C39;
  font-size: 20px;
  font-weight: 500;
}
.food_type_item-description {
  color: #949494;
  font-weight: 300;
}

nav.nav_primary ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 56px;
}
nav.nav_primary ul a {
  color: #949494;
  font-weight: 300;
  text-decoration: none;
}
nav.nav_primary ul a.active, nav.nav_primary ul a:hover {
  color: #F38160;
  position: relative;
}
nav.nav_primary ul a.active::before, nav.nav_primary ul a:hover::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #F38160;
  width: 80%;
  bottom: -10px;
  left: 10%;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_login ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 35px;
}
header .header_login ul .cart img {
  width: 20px;
}

.container {
  max-width: 1300;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 6px;
  padding-right: 16px;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
