$roboto-font: "Roboto", sans-serif;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktopxl: 1440px;
$primary-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

//Colores

$black: #403C39;
$orange: #F38160;
$grey: #949494;